body {
    background-color: rgb(31,121,94)
}
#titulo {
    text-align: center;
    font-family: "Green Room_PersonalUseOnly";
    font-size: 3em;
    color: #020202;
}
#caixa {
    margin: auto;
    width: 50%;
    border: 2px solid #2a07f3;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 20px
}
p {
    font-family: "Arial";
    font-size: 1em;
    font-weight: bold;
    color: #ffffff
}
#ultimo {

    color: rgb(0, 255, 21)

}
#penultimo {

    color: rgb(12, 231, 66);
}